
/* .register-form input[type="file"]{
  outline: none !important;
  border: none !important;
  position: relative;
  margin-bottom: .2rem;
  padding: .5rem .7rem;
} */
/* .register-form input[type="file"]::-webkit-file-upload-button {
  background-color: #8224e3;
  color: white;
  width: 100%;
  padding: 1vmax;
  border-radius: 30px;
  border: none;
  font: 100 1.2rem "Roboto", sans-serif;
}

 */